### Задание 1

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
# считаем количество выставленных оценок одним пользователем
count_rate = ratings.groupby('userId').apply(lambda x: x.count()) 
count_rate['rating']

userId
1       20
2       76
3       51
4      204
5      100
      ...
667     68
668     20
669     37
670     31
671    115
Name: rating, Length: 671, dtype: int64

In [4]:
# находим минимальное и максимальное время жизни пользователя
rat = ratings.groupby('userId').timestamp.agg(['max', 'min']) #.reset_index() #.apply(lambda x: x.count())
# соединяем все в одном фрейме
rat['count_rating'] = count_rate['rating']
# высчитаваем продолжительность жизни пользователя
rat['time_life'] = rat['max'] - rat['min']
#rat
# сортируем пользователей по количеству отметок 100 и больше
sorted_rating = rat.loc[rat.count_rating > 99]
sorted_rating.head()

               max         min  count_rating  time_life
userId
4        949982274   949778714           204     203560
5       1163375145  1163373044           100       2101
8       1154474527  1154389340           116      85187
15      1469330735   997937239          1700  471393496
17      1127476640  1127468587           363       8053

In [5]:
# высчитываем среднее время пользователя
sorted_rating.time_life.mean()

39331748.56653992